<div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in ">
    <a class="text-gray-500 no-underline hover:no-underline " href="# ">&copy; Served under the</a>
    <a class="text-gray-400 no-underline hover:no-underline ">Simplified BSD License</a>
    <a class="text-gray-500 no-underline hover:no-underline "> - Developed and Designed by</a>
    <a class="text-gray-400 no-underline hover:no-underline " href="https://johnseong.info">John Seong</a>.
</div>