---
title: "Docs: Install Rosetta Enforcer"
tags: menu
permalink: /docs/
layout: page.njk

eleventyNavigation:
  key: Docs
  order: 2
---

<h1 class="maintitle-white">Documentation</h1>

{# Row 1 #}
<div class="border-b">
  <h1 class="bigger-subtitle-white">
      <span class="opacity-60">Introduction</span>
  </h1>
  <h2 class="subtitle2-white">
    Rosetta Enforcer <span class="make-it-pretty-blue">is an </span>open-source project<span class="make-it-pretty-blue"> that is </span><span class="make-it-pretty-blue">grounded in</span> community <span class="make-it-pretty-blue">and by</span> community.
  </h2>
  <p class="context-white">
    <span class="opacity-60">
    This application massively simplifies the process of Universal Binary to Single Architecture command, using macOS’s default command set called lipo.<br><br>
    This documentation will guide you through the journey of not only using this program as an average user but also modifying it to your taste and contributing to this active project as a macOS developer.<br><br>
    Feel free to add any additional comments or content to this page and I hope y’all have wonderful days out there!
    </span>
  </p>
  <br>
</div>
{# Row 1 End #}

{# Row 2 #}
<div class="pt-6 border-b">
  <h1 class="bigger-subtitle-white">
    <span class="opacity-60">
      Folder-File Structure
      </span>
  </h1>
  <h2 class="subtitle2-white">
   <span class="make-it-pretty-blue">Branch 1 — </span><code>main</code>
  </h2>
  <ul class="list-decimal context-white">
    <li><code>Sources/Rosetta Enforcer/Models.swift</code> <span class="opacity-60">— Contains the business logic that dictates the behaviour of the architecture detection and conversion process; mainly the terminal execution commands, including the famous lipo</span></li>
    <br>
    <li><code>Sources/Rosetta Enforcer/Views</code><span class="opacity-60"> — This folder contains scripts that form the GUI interface of this program; primarily focusing on the seamless interaction between the user and the back-end side of this application.</span></li>
    <br>
    <li><code>Installers</code><span class="opacity-60"> — A folder that possesses the precompiled DMG file for installation, as well as different scripts that are used to generate that DMG file such as Rosetta_Enforcer.json that contains the metadata of where the icon and the background files are located, and specifies the positions of the shortcuts that appear in the installer window.</span></li>
    <br>
    <li><code>Icons</code> <span class="opacity-60">— Contains all the icon files in different resolutions.</span></li>
  </ul>
  <br>
  <h2 class="subtitle2-white">
   <span class="make-it-pretty-blue">Branch 2 — </span><code>website</code>
  </h2>
  <ul class="context-white">
    <li><code>.eleventy.js</code> <span class="opacity-60">— This is a configuration file for Eleventy static website generator.</span></li>
    <br>
    <li><code>tailwind.config.js</code><span class="opacity-60"> — A configuration for Tailwind CSS framework.</span></li>
    <br>
    <li><code>static/_includes/base.njk</code><span class="opacity-60"> — The base nunjucks template file that applies to all markdown files generated by the user.</span></li>
    <br>
    <li><code>static/css</code> <span class="opacity-60">— Contains all CSS files used in the web application.</span></li>
    <br>
    <li><code>static/dist/output.css</code> <span class="opacity-60">— This is a CSS file that is generated by the Tailwind CSS framework. Used in theming the website.</span></li>
    <br>
    <li><code>static/images</code> <span class="opacity-60">— A folder that contains all the image files used in the website.</span></li>
    <br>
    <li><code>static/*.njk</code> <span class="opacity-60">— Files that contain unique nunjucks code that correpond to each menu of the homepage.</span></li>
  </ul>
  <br>
</div>
{# Row 2 End#}

{# Row 3 #}
<div class="pt-6 border-b">
  <h1 class="bigger-subtitle-white">
    <span class="opacity-60">
      Popular Error Codes
      </span>
  </h1>
  <ul class="list-decimal context-white">
    <li><code>Fatal Error: .EXEC File Not Found</code> <span class="opacity-60">— It means that the app selected is a Catalyst app; meaning the developer converted an iOS app directly into a macOS app, which does not support the architecture stripping feature at the moment. Update TBD.</span></li>
  </ul>
  <br>
</div>
{# Row 3 End#}

{# Row 4 #}
<div class="pt-6">
  <h1 class="bigger-subtitle-white">
    <span class="opacity-60">
      Other Dependencies Used
      </span>
  </h1>
  <ul class="list-decimal context-white">
    <li>App2Dmg <span class="opacity-60">— An </span><code>npm</code><span class="opacity-60"> module that converts a </span><code>.app</code><span class="opacity-60"> executable to a </span><code>.dmg</code><span class="opacity-60"> archive</span></li>
  </ul>
  <br>
</div>
{# Row 4 End#}