---
title: "Forum: Install Rosetta Enforcer"
tags: menu
permalink: /forum/
layout: page.njk

eleventyNavigation:
  key: Forum
  order: 3
---

<h1 class="my-4 pt-8 text-3xl md:text-3xl text-white opacity-100 leading-tight text-center md:text-left">
    <span class="text-7xl font-bold tracking-tighter">Community</span>

<h1 class="my-4 text-3xl md:text-3xl text-white opacity-100 leading-tight text-center md:text-left">
    Still work in progress!
</h1>
<br>