---
title: "Forum: Install Rosetta Enforcer"
tags: menu
permalink: /forum/
layout: page.njk

eleventyNavigation:
  key: Forum
  order: 3
---

{# USE GITHUB DISCUSSIONS API: https://docs.github.com/en/graphql/guides/using-the-graphql-api-for-discussions #}

<h1 class="maintitle-white">Community</h1>

<h1 class="bigger-subtitle-white">
  <span class="opacity-60">Overview</span>
</h1>

<form class="bg-gray-900 opacity-100 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4 ">
  <div class="mb-4 ">
    <label class="block text-xl text-white py-2 mb-2 " for="emailaddress ">
      <span class="text-blue-300">Development</span> is currently in progress for this page and yet to be completed. In the meanwhile, you can tap the button below to simply redirect to the <span class="text-blue-300">GitHub Discussions</span>.
            </label>
  </div>
  <div class="gap-3 flex items-center justify-left">
    <a href="https://github.com/wonmor/Rosetta-Enforcer/discussions" class="bg-transparent hover:bg-blue-500 text-white hover:text-white py-2 px-4 border border-white hover:border-transparent rounded" type="button ">
                            Redirect to Discussions
                        </a>
  </div>
</form>