---
title: "Install Rosetta Enforcer: Official Website"
tags: menu
layout: page.njk

eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="my-4 pt-8 text-3xl md:text-3xl text-white opacity-100 leading-tight text-center md:text-left">
  <span class="text-7xl font-bold tracking-tighter">Rosetta Enforcer</span>
  <br><br>
  <span class="opacity-60 text-blue-300 ">A </span>macOS <span class="opacity-60 text-blue-300 ">utility that allows developers convert</span> Universal Binary <span class="opacity-60 text-blue-300">application to </span>Single Architecture.
            </h1>
<h1 class="my-4 text-3xl md:text-3xl text-white opacity-100 leading-tight text-center md:text-left">
  <span class="opacity-60 text-blue-300 ">This saves</span> hundreds of megabytes of space <span class="opacity-60 text-blue-300 ">as well as resolving a possible</span> compatibility issue<span class="opacity-60 text-blue-300"> between different modules used in the developmental process.</span>
</h1>
<br>