---
title: "Install Rosetta Enforcer: Official Website"
tags: menu
layout: page.njk

eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="my-4 pt-8 text-3xl md:text-3xl text-white opacity-100 leading-tight text-left md:text-left">
  <span class="text-7xl font-bold tracking-tighter">Rosetta Enforcer</span>
  <br><br>
  <span class="make-it-pretty-blue">A </span>macOS <span class="make-it-pretty-blue">utility that allows developers convert</span> Universal Binary <span class="make-it-pretty-blue">application to </span>Single Architecture.
</h1>

<h1 class="subtitle-white">
  <span class="make-it-pretty-blue">This saves</span> hundreds of megabytes of space <span class="make-it-pretty-blue">as well as resolving a possible</span> compatibility issue<span class="make-it-pretty-blue"> between different modules used in the developmental process.</span>
</h1>
<br>